<div class="container">

  <h2>Compress/Decompress Demo</h2>

  Upload File: <input type="checkbox" ng-model="checked" ng-init="checked=true"><br/>
  <!-- Todos input -->
  <div class="check-element animate-show" ng-hide="checked">
    <form role="form" ng-submit="addTodo()">
      <div class="row">
        <div class="input-group">
          <input type="text" ng-model="todo" placeholder="What needs to be compressed?" class="form-control">
          <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Compress Text">
          </span>
          <select ng-model="algorithm.selected" ng-options="algorithm for algorithm in algorithms"></select>
        </div>
      </div>
    </form>
  </div>

  <div class="check-element animate-show" ng-show="checked">
    <form role="form" ng-submit="addFile()">
      <input type="file" onchange="angular.element(this).scope().previewFile()"><br>

      <select ng-model="algorithm.selected" ng-options="algorithm for algorithm in algorithms"></select>
      <input type="submit" class="btn btn-primary" value="Compress File">
      <img id="img-src" ng-show="checked" src="" height="200" alt="Image preview...">
    </form>
  </div>


  <hr>
  <div ui-sortable ng-model="todos">
    <p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
      <input type="text" ng-model="todo.value" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-sm" ng-click="changeAlgorithm($index)" aria-label="TODO">{{todo.algorithm}}</button>
          <button class="btn btn-sm" ng-click="" aria-label="TODO">Size {{todo.size}}</button>
          <button class="btn btn-sm" ng-click="" aria-label="TODO">CR {{todo.cr}}</button>
          <button class="btn btn-sm" ng-click="" aria-label="TODO">Entropy {{todo.entropy}}</button>
          <button class="btn btn-sm" ng-click="" aria-label="TODO">Type {{todo.type}}</button>
          <button class="btn btn-info" ng-click="decompress($index,false)" aria-label="Decompress">Decompress</button>
          <button class="btn btn-info" ng-click="decompress($index,true)" aria-label="Decompress&Download">Decompress&Download</button>
          <button class="btn btn-info" ng-click="downloadFile($index)" aria-label="Download">Download</button>

          <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
        </span>
    </p>
  </div>


  <hr>

  <div class="row">
  <textarea class="col-md-6" type="text" ng-style="formCheckStyle" ng-model="orginalValueForm" placeholder="Orginal text" class="form-control"/>
  <textarea class="col-md-6" type="text" ng-style="formCheckStyle" ng-model="decryptForm" placeholder="Decompressed text" class="form-control"/>
  <div class="check-element animate-show" ng-show="checked">
    <img id="img-dest" ng-show="checked" src="" height="200" alt="Image preview...">
  </div>
  </div>





</div>
