<div class="container">

  <h2>Compress/Decompress Demo</h2>

  Upload image: <input type="checkbox" ng-model="checked"><br/>
  <!-- Todos input -->
  <div class="check-element animate-show" ng-hide="checked">
    <form role="form" ng-submit="addTodo()">
      <div class="row">
        <div class="input-group">
          <input type="text" ng-model="todo" placeholder="What needs to be compressed?" class="form-control">
          <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Compress Text">
          </span>
          <select ng-model="algorithm.selected" ng-options="algorithm for algorithm in algorithms"></select>
        </div>
      </div>
    </form>
  </div>

  <div class="check-element animate-show" ng-show="checked">
    <form role="form" ng-submit="addFile()">
      <input type="file" onchange="angular.element(this).scope().previewFile()"><br>

      <select ng-model="algorithm.selected" ng-options="algorithm for algorithm in algorithms"></select>
      <input type="submit" class="btn btn-primary" value="Compress Image">
      <img id="img-src" ng-show="checked" src="" height="200" alt="Image preview...">
    </form>
  </div>


  <hr>
  <div ui-sortable ng-model="todos">
    <p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
      <input type="text" ng-model="todo.value" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-sm" ng-click="changeAlgorithm($index)" aria-label="TODO">{{todo.algorithm}} Entropy Compression Ratio</button>
          <button class="btn btn-info" ng-click="decompressTodo($index)" aria-label="Decompress">Decompress</button>

          <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
        </span>
    </p>
  </div>

  <!--<div ui-sortable ng-model="todoBlockdiv">-->
    <!--<input type ="text" value="{{getValue()}}"/>-->
  <!--</div>-->


  <!--<input type="text" ng-model="inputForm" placeholder="Paste here text" class="form-control">-->
  <!--<button ng-click="toggle = !toggle">{{toggleTextEncrypt}}</button>-->

  <!--<div class="box on" ng-show="toggle" ng-animate="'box'">On</div>-->
  <!--<input type="text" ng-model="encryptForm" placeholder="Compressed text" class="form-control">-->
  <!--<button ng-click="decrypt = !decrypt">{{toggleTextDecrypt}}</button>-->
  <!--<div class="box on" ng-show="decrypt" ng-animate="'box'">On</div>-->
  <hr>

  <div class="row">
  <textarea class="col-md-6" type="text" ng-style="formCheckStyle" ng-model="orginalValueForm" placeholder="Orginal text" class="form-control"/>
  <textarea class="col-md-6" type="text" ng-style="formCheckStyle" ng-model="decryptForm" placeholder="Decompressed text" class="form-control"/>
  <div class="check-element animate-show" ng-show="checked">
    <img id="img-dest" ng-show="checked" src="" height="200" alt="Image preview...">
  </div>
  </div>





</div>


<!--<div class="jumbotron">-->
  <!--<h1>'Allo, 'Allo!</h1>-->
  <!--<p class="lead">-->
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    <!--Always a pleasure scaffolding your apps.-->
  <!--</p>-->
  <!--<p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
<!--</div>-->

<!--<div class="row marketing">-->
  <!--<h4>HTML5 Boilerplate</h4>-->
  <!--<p>-->
    <!--HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.-->
  <!--</p>-->

  <!--<h4>Angular</h4>-->
  <!--<p>-->
    <!--AngularJS is a toolset for building the framework most suited to your application development.-->
  <!--</p>-->

  <!--<h4>Karma</h4>-->
  <!--<p>Spectacular Test Runner for JavaScript.</p>-->
<!--</div>-->
